body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.header-ul {
  display: flex;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid;
  list-style: none;
  align-items: center;
}

.header-img {
  height: 8vh;
  width: 8vh;
  margin-left: 2em;
}

.header-item {
  margin-left: 2em;
  font-weight: bold;
  cursor: pointer;
}

.header-item:hover {
  color: gray;
  text-decoration: underline;
=======
.comment-btn {
  width: 55%;
}

.comment-btn:hover {
  border: 2px solid black;
}

.likesComments {
  display: flex;
  justify-content: space-between;
}

.likesCountP {
  margin-left: 15%;
  padding-top: 2%;
}

.menuText {
  height: 4.3em;
  overflow-y: scroll;
}

.footer {
  margin: 0;
  padding: 10px;
  border-top: 1px solid;
}
