body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.header {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.header-ul {
  display: flex;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  background-color: #4c3c3c;
  color: #fff;
}

.header-img {
  height: 8vh;
  width: 8vh;
  border-radius: 100%;
}

.header-item {
  margin-left: 1em;
  font-weight: bold;
  cursor: pointer;
}

.menus {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-item:hover {
  color: gray;
  text-decoration: underline;
}

.row {
  justify-content: center;
  margin: 0 10px;
}

.comment-btn {
  background-color: #4c3c3c;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #333;
}

.comment-btn:hover {
  background-color: #fff;
  color: #4c3c3c;
}

.likesComments {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.fa-thumbs-up {
  display: inline-block;
  margin-right: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.menuDiv {
  border: solid;
  border-color: #666;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuDiv:hover {
  box-shadow: 0 0 20px black;
}

.footer {
  margin: 0;
  padding: 0;
  height: 50px;
  line-height: 50px;
  font-size: 0.8rem;
  border-top: 1px solid;
  background-color: #4c3c3c;
  color: #fff;
}

.footer-text {
  text-align: center;
}

.overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: unset;
  text-align: center;
  z-index: 20;
  min-height: 100vh;
  overflow-y: scroll;
  padding: 50px 0;
  margin-bottom: 50px;
  backdrop-filter: blur(20px);
}

.c-loading {
  font-size: 1rem;
}

.pop-up {
  background-color: #fff;
  text-align: center;
  width: 90vw;
}

.pop-up table {
  background-color: #fff;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.th1,
.td1 {
  min-width: 100px;
}

th {
  font-size: 1.2rem;
}

.pop-up-description,
.num-of-comments {
  background-color: #fff;
  margin: 0;
}

.num-of-comments {
  padding: 30px 0 10px;
}

.comments-table tr * {
  padding: 5px;
}

.pop-up .image {
  width: 100%;
}

.pop-up-image {
  width: 100%;
  margin: 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  background-color: #fff;
}

.pop-up-description {
  text-align: justify;
  padding: 0 20px;
}

.new-comment-heading {
  text-align: center;
  padding-top: 30px;
  background-color: #fff;
  margin: 0;
  padding-bottom: 10px;
}

td,
th {
  border: 1px solid #4c3c3c;
}

td:first-child,
th:first-child {
  border-left: none;
}

td:last-child,
th:last-child {
  border-right: none;
}

tr:nth-child(even) {
  background-color: #f3f3f3;
}

.close {
  display: block;
  position: fixed;
  right: 6%;
  top: 5%;
  background-color: transparent;
  border: none;
  font-size: 3rem;
}

.hide {
  display: none;
}

.name,
.insight,
.comment-button {
  margin: 10px 0;
  width: 95%;
}

.comment-button {
  margin-bottom: 40px;
  background-color: #4c3c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 40px;
  font-size: 1.5rem;
  padding-bottom: 40px;
}

.comment-button:hover {
  background-color: #fff;
  color: #4c3c3c;
  font-weight: bold;
  border: 2px solid #4c3c3c;
}

@media all and (min-width: 786px) {
  .pop-up {
    text-align: center;
    width: 50vw;
  }

  .close {
    right: -22%;
    font-size: 4rem;
    display: block;
    width: 100%;
    position: fixed;
    top: 30px;
  }

  .name,
  .insight,
  .comment-button {
    margin: 10px 0;
    width: 50%;
  }

  .comment-button {
    margin-bottom: 40px;
  }

  .footer {
    font-size: 1rem;
  }

  .header-item {
    margin-left: 2em;
  }

  .header-ul {
    padding: 10px 12vw;
  }

  .comments-table tr * {
    padding: 0 20px;
  }
}
